@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&family=Lora:wght@500&display=swap');

:root{
    --main-color:#8ef5c0;
    --black:#13131a;
    --bg: #487e62;
    --border: .1rem solid rgba(255,255,255,.3);
}

* {
    font-family: Karla;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo {
    display: flex;
}

.header .logo .webname{
    display: flex;
    padding-left: 20px;
    text-transform: uppercase;
    object-position: center;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: var(--main-color);
}


.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

#menu-btn{
    display: none;
}

.header .icons div:hover{
    color: var(--main-color);
}

.swiper{
    width: 500px;
}

.header .about{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--bg);
    padding: 0 1.5rem;
}

.header .about.active{
    right: 0;
}

.header .about .h3{
    margin-top: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .about .subtitle{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 20px;
}

.header .about .copyright{
    color: var(--black);
    font-size: medium;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--bg);
    background-image: linear-gradient(
      to bottom, transparent, var(--bg)
    ), url("img/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .welcome h1{
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
}

.home .welcome p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
}

.welcome .btn{
    margin-top: 25px;
    font-weight: 500;
}

.welcome .btn a{
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    background-color: aquamarine;
}

.our-website .row{
    display: flex;
    align-items: center;
    background: var(--bg);
    flex-wrap: wrap;
}

.our-website .row .image img{
    height: 100%;
    width: 100%;
}

.our-website .row .website{
    flex: 1 1 45rem;
    padding: 2rem;
    font-size: large;
}

.our-website .row .website h3{
    font-size: 3rem;
    color: #fff;
}

.our-website .row .website p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 25%;
    padding: 3px;
}

section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25%;
    border: 3px solid;
}

.card{
    position: relative;
    background: var(--main-color);
    border-radius: 35pt;
    margin-left: 1pt;
    margin-top: 3%;
    padding-top: 25pt;
}

.card .card-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

.card .name-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: var(--black);
}

.name-details .name{
    font-size: 20px;
    font-weight: bolder;
}

.name-details .details{
    font-size: 15px;
    font-weight: 400;
    padding: 25px;
}

.adoption{
    margin-top: 25px;
    font-weight: 500;
}

.adoption a{
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    background-color: var(--bg);
}






















@media (max-width:900px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--bg);
        width: 30rem;
        height: calc(100vh - 9.5rem); 
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .welcome h1{
        font-size: 4.5rem;
    }

    .home .welcome p{
        font-size: 1.5rem;
    }

    .row .website h3{
        text-align: center;
    }

}

@media (max-width:350px){

    html{
        font-size: 50%;
    }

    img{
        height: 75%;
        width: 75%;
    }

}